trulyquantumchess.adi.fr.eu.org {
	reverse_proxy localhost:3000 {
		lb_retries 40
		lb_try_interval 500ms
	}
	log {
		output file /home/a/chess.log {
			roll_size 10MB
			roll_keep 4
		}
	}
}


defaultfilenametv.adi.fr.eu.org {
	reverse_proxy localhost:3004 {
		lb_retries 40
		lb_try_interval 500ms
	}
	log {
		output file /home/a/defaultfilenametv.log {
			roll_size 10MB
			roll_keep 4
		}
	}
}